-# %a.button{ui_sref: '{{getNewLink()}}'} Nouveau
-# %td
-#   %a{ui_sref: '{{getEditLink(row)}}'} Éditer
-#   %a{st_remove_element: true, callback: 'removeItem(row)'} Supprimer

.grid{ui_grid: 'gridOptions', ui_grid_pagination: true, ui_grid_resize_columns: true, ui_grid_pinning: true}
