.large-12.columns
  %h2 Comissions
  .grid{ui_grid: 'SrToDistrictStatistics.comissionsGridOptions', ui_grid_resize_columns: true, ui_grid_move_columns: true, ui_grid_pinning: true, ui_grid_selection: true, ui_grid_edit: true, ui_grid_cellNav: true}

.large-12.columns
  %h2 Contrats
  .grid{ui_grid: 'SrToDistrictStatistics.contractsGridOptions', ui_grid_resize_columns: true, ui_grid_move_columns: true, ui_grid_pinning: true, ui_grid_selection: true, ui_grid_edit: true, ui_grid_cellNav: true}

.large-12.columns
  %h2 Créer une nouvelle relation
  %div{ui_view: 'srtodistrict'}

